In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

En este jupyter voy a hacer una primera aproximación al csv de resumen de partidos. En caso de que me valgan los datos pasaré a hacer el DC

# 1. Lectura del dataset y primeras comprobaciones

In [2]:
game_sum_df = pd.read_csv('datasets/game_summary.csv')
game_sum_df.sample(10)

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
40621,2008-04-29 00:00:00,4.0,40700175,3,Final,20080429/UTAHOU,1610612745,1610612762,2007,4,NaN,NBA TV,Q4 - NBA TV,1
44226,2011-03-25 00:00:00,2.0,21001069,3,Final,20110325/NJNORL,1610612753,1610612751,2010,4,NaN,NaN,Q4 -,1
37912,2006-04-07 00:00:00,0.0,20501123,3,Final,20060407/DETORL,1610612753,1610612765,2005,4,NaN,NaN,Q4 -,1
14132,1983-01-28 00:00:00,NaN,28200504,3,NaN,19830128/PHLKCK,1610612758,1610612755,1982,4,NaN,NaN,Q4 -,1
14546,1983-10-28 00:00:00,NaN,28300005,3,NaN,19831028/ATLNJN,1610612751,1610612737,1983,4,NaN,NaN,Q4 -,1
30998,2000-03-08 00:00:00,5.0,29900870,3,Final,20000308/CHIORL,1610612753,1610612741,1999,4,NaN,NaN,Q4 -,1
838,1949-11-16 00:00:00,NaN,24900063,3,NaN,19491116/SHEWAT,1610610037,1610610033,1949,4,NaN,NaN,Q4 -,1
57127,2022-11-27 00:00:00,9.0,22200298,3,Final,20221127/DALMIL,1610612749,1610612742,2022,4,,NBA TV,Q4 - NBA TV,1
55184,2021-04-12 00:00:00,2.0,22000818,3,Final,20210412/PHIDAL,1610612742,1610612755,2020,4,NaN,ESPN,Q4 - ESPN,1
54062,2020-01-30 00:00:00,6.0,21900719,3,Final,20200130/SACLAC,1610612746,1610612758,2019,4,NaN,NaN,Q4 -,1

In [9]:
game_sum_df.head()

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1

In [10]:
game_sum_df.shape

(58110, 14)

In [11]:
game_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58110 entries, 0 to 58109
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   game_date_est                     58110 non-null  object
 1   game_sequence                     32578 non-null  float64
 2   game_id                           58110 non-null  int64
 3   game_status_id                    58110 non-null  int64
 4   game_status_text                  32124 non-null  object
 5   gamecode                          58110 non-null  object
 6   home_team_id                      58110 non-null  int64
 7   visitor_team_id                   58110 non-null  int64
 8   season                            58110 non-null  int64
 9   live_period                       58110 non-null  int64
 10  live_pc_time                      2024 non-null   object
 11  natl_tv_broadcaster_abbreviation  6203 non-null   object
 12  live_period_time_bcast            58110 non-null  object
 13  wh_status                         58110 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 6.2+ MB

## Conclusión

No parece que me vaya a ser útil.